@import "tailwindcss";

:root {
  --preto: #0c0c0c;
  --bgColor: #c5c1a8;
  --branco: #e5e4df;
  --noEstoque: #828282;
  --verdePrim: #87a442;
  --verdeSec: #737A58;
  --cinza: #D0D0D0;
  --error: #D34C46;
  --marrom: #913F1D;

  --searchBar: #rgba(34, 52, 9, 0.5);
  --searchBarEffect: #rgba(67, 74, 17, 0.2);
}